{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>
<div class="projects">
  <div class="project-card">
    <h3>simple Crud System</h3>
    <p>A PHP + MariaDB app for managing students.</p>
  </div>

  <div class="project-card">
    <h3>simple Calculator</h3>
    <p>a simple working calculator using python</p>
  </div>

  <div class="project-card">
    <h3>Text base game(py)</h3>
    <p>I have make a game.A simple text Base game on python</p>
  </div>
</div>
{% endblock %}
